fastapi==0.115.12
uvicorn==0.21.1
pydantic==1.10.7
pandas==2.2.3
requests==2.32.3
transformers==4.47.0
xgboost==2.0.0          # تم تحديد الإصدار بدقة
scikit-learn==1.4.2     # نفس النسخة اللي عملتي بيها pickle
python-dotenv
numpy==1.26.4           # إصدار متوافق مع Torch 2.0.1
torch==2.0.1
huggingface_hub[hf_xet] # لتحسين التحميل من HuggingFace
memory_profiler